<div class="large-stripe mint">
  <header class="home">
    <div class="row">
      <div class="large-6 columns centered">
        <h1>pp<small>&</small>pt</h1>
        <h4 class="subheader">Project Planner <big>&</big> Progress Tracker (PP&PT)</h4>
      </div>
      <div class="large-6 columns">
      </div>
    </div>
  </header>
</div>
